body {
	background: #F5F5F5;
}

h1 {
	color: #EAD7D7;
	font: 700% cursive;
	text-align: center;
}

.mainBlock {
	width: 800px;
	height: 400px;
	background: white;
	margin: 0 auto;
	box-shadow:
	    0 1px 1px rgba(0,0,0,0.15),
	    0 10px 0 -5px #fff,
	    0 10px 1px -4px rgba(0,0,0,0.15),
	    0 20px 0 -10px #fff,
	    0 20px 1px -9px rgba(0,0,0,0.15),
		0 0 10px rgba(0,0,0,0.15);
}

input[id="myInput"], #newTask {
	width: 100%;
	height: 70px;
	font: 40px cursive;
	color: #CDCDCD;
	border: 0;
	border-bottom: 2px solid #DBDBDB;
	text-indent: 4px;
	outline: none;
}

input[id="myInput"]::-webkit-input-placeholder {
    color: #E6E6E6;
    font-size: 30px;
} 

input[id="myInput"]::-moz-placeholder {
    color: #E6E6E6;
    font-size: 30px;
}

#blockOfTasks {
	height: 256px;
	overflow: auto;
}

#newTask {
	border-bottom: 2px solid #F5F5F5;
	color: #858585;
	font-size: 40px;
	word-wrap: break-word;
	height: auto;
	padding-bottom: 6px;
}

label {
	width: 684px;
}

/*...*/

#newTask label {
	cursor: pointer;
}

#newTask input[type="checkbox"] {
    opacity: 0;
}

#newTask label {
    position: relative;
    display: inline-block;

    padding-left: 22px;
}

#newTask label::before,
#newTask label::after {
    position: absolute;
    content: "";

    display: inline-block;
}

#newTask label::before{
    height: 28px;
    width: 28px;
    
    border: 1px solid #F0F0F0;
    border-radius: 100%;
    left: -12px;
 
    top: 15px;
}

/*...*/

#newTask label::after {
    height: 5px;
    width: 15px;
    border-left: 2px solid #73CAB9;
    border-bottom: 2px solid #73CAB9;
    
    transform: rotate(-50deg);
    
    left: -5px;
    top: 25px;
}

#newTask input[type="checkbox"] + label::after {
    content: none;
}

#newTask input[type="checkbox"]:checked + label::after {
    content: "";
}

/*...*/

input[type="checkbox"]:checked + label {
	color: #D9D9DA;
	text-decoration: line-through;
}

/*...*/

#delTask {
	float: right;
	margin: 16px 20px 0 0;
	font-size: 20px;
	color: white;
	cursor: pointer;
	transition-duration: .15s;
}

#newTask:hover #delTask {
	color: #CC9A9A;
}

#newTask:hover #delTask:hover {
	color: #F0B2AD;
}

#settings {
	height: 70px;
	border-top: 2px solid #DBDBDB;
	text-align: center;
	color: #BEB6B6;
	padding: 24px 30px 0 30px;
}

#settings div {
	display: inline;
	cursor: default;
	font: 15px cursive;
	width: 170px;
}

.two {
	word-spacing: 30px;
}

.three {
	float: right;
}

.one {
	float: left;
}

.one, .all, .active, .completed, .three {
	border: 2px solid #fff;
	cursor: pointer;
}

.all:hover, .active:hover, .completed:hover, .right:hover {
	color: #D3D3D3;
	transition-duration: .2s;
	cursor: pointer;
}
