*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #F5F5F5;
	font-family: cursive;
}

/*Надпись TODOS*/

.logo {
	margin-top: 20px;
	text-align: center;
	font-size: 700%;
	color: #EAD7D7;
}

/*Стили блока с списком дел*/

.todolist_block {
	margin: 50px auto;
	background: white;
	width: 40%;
	height: 400px;
	box-shadow:
	    0 1px 1px rgba(0,0,0,0.15),
	    0 10px 0 -5px #fff,
	    0 10px 1px -4px rgba(0,0,0,0.15),
	    0 20px 0 -10px #fff,
	    0 20px 1px -9px rgba(0,0,0,0.15),
		0 0 10px rgba(0,0,0,0.15);
	min-width: 350px;
}



.todolist_block2 {
	margin: 50px auto;
	background: white;
	width: 40%;
	height: 400px;
	box-shadow:
	    0 1px 1px rgba(0,0,0,0.15),
	    0 10px 0 -5px #fff,
	    0 10px 1px -4px rgba(0,0,0,0.15),
	    0 20px 0 -10px #fff,
	    0 20px 1px -9px rgba(0,0,0,0.15),
		0 0 10px rgba(0,0,0,0.15);
	min-width: 350px;
}





/*Стили поля ввода*/

.main_todolist_input, .todolist_task {
	width: 100%;
	height: 70px;
	font: 40px cursive;
	color: #CDCDCD;
	border: 0;
	border-bottom: 2px solid #DBDBDB;
	text-indent: 4px;
	outline: none;
}

.main_todolist_input::placeholder {
    color: #E6E6E6;
    font-size: 30px;
}



.main_todolist_input2, .todolist_task2 {
	width: 100%;
	height: 70px;
	font: 40px cursive;
	color: #CDCDCD;
	border: 0;
	border-bottom: 2px solid #DBDBDB;
	text-indent: 4px;
	outline: none;
}

.main_todolist_input2::placeholder {
    color: #E6E6E6;
    font-size: 30px;
}





/*Стили блока с делами*/

.todolist_tasks {
	height: 260px;
	overflow: auto;
}



.todolist_tasks2 {
	height: 260px;
	overflow: auto;
}





/*Стили добавленного дела*/

.todolist_task {
	border-bottom: 2px solid #F5F5F5;
	color: #858585;
	font-size: 40px;
	word-wrap: break-word;
	height: auto;
	padding-bottom: 6px;
}

.todolist_task label {
	width: 80%;
	cursor: pointer;
	position: relative;
    display: inline-block;
    padding-left: 22px;
}

.todolist_task input[type="checkbox"] {
    opacity: 0;
}

.todolist_task label::before,
.todolist_task label::after {
    position: absolute;
    content: "";
    display: inline-block;
}

.todolist_task label::before{
    height: 30px;
    width: 30px;
    border: 1px solid #F0F0F0;
    border-radius: 100%;
    left: -15px;
    top: 15px;
}

.todolist_task label::after {
    height: 5px;
    width: 15px;
    border-left: 2px solid #73CAB9;
    border-bottom: 2px solid #73CAB9;
    transform: rotate(-50deg);
    left: -7px;
    top: 27px;
}

.todolist_task input[type="checkbox"] + label::after {
    content: none;
}

.todolist_task input[type="checkbox"]:checked + label::after {
    content: "";
}

input[type="checkbox"]:checked + label {
	color: #D9D9DA;
	text-decoration: line-through;
}

.todolist_btn_delete_task {
	float: right;
	margin: 16px 20px 0 0;
	font-size: 20px;
	color: white;
	cursor: pointer;
	transition-duration: .15s;
}

.todolist_task:hover .todolist_btn_delete_task {
	color: #CC9A9A;
}

.todolist_task:hover .todolist_btn_delete_task:hover {
	color: #F0B2AD;
}



.todolist_task2 {
	border-bottom: 2px solid #F5F5F5;
	color: #858585;
	font-size: 40px;
	word-wrap: break-word;
	height: auto;
	padding-bottom: 6px;
}

.todolist_task2 label {
	width: 80%;
	cursor: pointer;
	position: relative;
    display: inline-block;
    padding-left: 22px;
}

.todolist_task2 input[type="checkbox"] {
    opacity: 0;
}

.todolist_task2 label::before,
.todolist_task2 label::after {
    position: absolute;
    content: "";
    display: inline-block;
}

.todolist_task2 label::before{
    height: 30px;
    width: 30px;
    border: 1px solid #F0F0F0;
    border-radius: 100%;
    left: -15px;
    top: 15px;
}

.todolist_task2 label::after {
    height: 5px;
    width: 15px;
    border-left: 2px solid #73CAB9;
    border-bottom: 2px solid #73CAB9;
    transform: rotate(-50deg);
    left: -7px;
    top: 27px;
}

.todolist_task2 input[type="checkbox"] + label::after {
    content: none;
}

.todolist_task2 input[type="checkbox"]:checked + label::after {
    content: "";
}

input[type="checkbox"]:checked + label {
	color: #D9D9DA;
	text-decoration: line-through;
}

.todolist_btn_delete_task {
	float: right;
	margin: 16px 20px 0 0;
	font-size: 20px;
	color: white;
	cursor: pointer;
	transition-duration: .15s;
}

.todolist_task2:hover .todolist_btn_delete_task {
	color: #CC9A9A;
}

.todolist_task2:hover .todolist_btn_delete_task:hover {
	color: #F0B2AD;
}



.todolist_btn_delete_task2 {
	float: right;
	margin: 16px 20px 0 0;
	font-size: 20px;
	color: white;
	cursor: pointer;
	transition-duration: .15s;
}

.todolist_task2:hover .todolist_btn_delete_task2 {
	color: #CC9A9A;
}

.todolist_task2:hover .todolist_btn_delete_task2:hover {
	color: #F0B2AD;
}









/*Стили нижних кнопок*/

/*.todolist_buttons {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	height: 70px;
	border-top: 2px solid #DBDBDB;
	text-align: center;
	color: #BEB6B6;
	padding: 20px 30px 0 30px;
}

.todolist_buttons div {
	cursor: default;
	font: 15px cursive;
	width: 170px;
}

.three_middle_btns1 {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	word-spacing: 30px;
}

.btn_delete1 {
	float: right;
}

.count_info1 {
	float: left;
}

.count_info1, .btn_all1, .btn_active1, .btn_completed1, .btn_delete1 {
	border: 2px solid #fff;
	cursor: pointer;
}

.btn_all1:hover, .btn_active1:hover, .btn_completed1:hover, .btn_delete1:hover {
	color: #D3D3D3;
	transition-duration: .2s;
	cursor: pointer;
}



.todolist_buttons {
	height: 70px;
	border-top: 2px solid #DBDBDB;
	text-align: center;
	color: #BEB6B6;
	padding: 20px 30px 0 30px;
}

.todolist_buttons div {
	display: inline;
	cursor: default;
	font: 15px cursive;
	width: 170px;
}

.three_middle_btns2 {
	word-spacing: 30px;
}

.btn_delete2 {
	float: right;
}

.count_info2 {
	float: left;
}

.count_info2, .btn_all2, .btn_active2, .btn_completed2, .btn_delete2 {
	border: 2px solid #fff;
	cursor: pointer;
}

.btn_all2:hover, .btn_active2:hover, .btn_completed2:hover, .btn_delete2:hover {
	color: #D3D3D3;
	transition-duration: .2s;
	cursor: pointer;
}
*/



/*Стили нижних кнопок*/

.todolist_buttons {
	height: 70px;
	border-top: 2px solid #DBDBDB;
	text-align: center;
	color: #BEB6B6;
	padding: 20px 30px 0 30px;
}

.todolist_buttons div {
	display: inline;
	cursor: default;
	font: 15px cursive;
	/*width: 170px;*/
}

.three_middle_btns1 {
	word-spacing: 30px;
}

.btn_delete1 {
	float: right;
}

.count_info1 {
	float: left;
}

.count_info1, .btn_all1, .btn_active1, .btn_completed1, .btn_delete1 {
	border: 2px solid #fff;
	cursor: pointer;
}

.btn_all1:hover, .btn_active1:hover, .btn_completed1:hover, .btn_delete1:hover {
	color: #D3D3D3;
	transition-duration: .2s;
	cursor: pointer;
}



.todolist_buttons {
	height: 70px;
	border-top: 2px solid #DBDBDB;
	text-align: center;
	color: #BEB6B6;
	padding: 20px 30px 0 30px;
}

.todolist_buttons div {
	display: inline;
	cursor: default;
	font: 15px cursive;
	width: 170px;
}

.three_middle_btns2 {
	word-spacing: 30px;
}

.btn_delete2 {
	float: right;
}

.count_info2 {
	float: left;
}

.count_info2, .btn_all2, .btn_active2, .btn_completed2, .btn_delete2 {
	border: 2px solid #fff;
	cursor: pointer;
}

.btn_all2:hover, .btn_active2:hover, .btn_completed2:hover, .btn_delete2:hover {
	color: #D3D3D3;
	transition-duration: .2s;
	cursor: pointer;
}
